<h1>My Wikis</h1>

<% @wikis.each do |wiki| %>
  <div class="Well">
    <h3><%= wiki.title %></h3>
    <%= link_to "Keep Reading", wiki.title, wiki, class: 'btn btn-default' %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= link_to "New Public Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>

</div>
