<h4> Would you like to downgrade your account to standard access?</h4>
<p>Keep in mind that you will have to pay another $15 subscription fee if you wish to upgrade to premium in the future. </p>
<%= link_to "Downgrade Account", downgrade_create_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you wish to downgrade?'} %>
